.gradle/
/build/
/**/build/
/app/build/
captures/
/.cxx/
/.externalNativeBuild/

gradle-wrapper.jar
gradle-wrapper.properties

*.iml
/.idea/
/.idea/*

.kotlin/errors/

local.properties
.env
secrets.properties
*.jks
*.keystore
*.keystore.*
*.p12
*.pem

build/reports/
*.class

*.log
*.trace
*.tmp
*.bak
*.swp
*.swo
*.zip

.DS_Store
Thumbs.db

.vscode/
/.idea/
